<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/setup.html">Introduction and setup </a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html">The Unix Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html">Automating tasks with the Unix shell</a></td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/01-basics/">Version control with Git/Github</a></td> </tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/">Introduction to R and RStudio</a></td> </tr>
      <tr><td>16:00</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/">Programming in R- Data Structures</a></td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up of day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2 </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/">Programming in R - Creating Publication-Quality Graphics</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/13-dplyr/">Programming in R - Dataframe Manipulation with dplyr</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/10-functions/">Programming in R - Functions explained</a> </td> </tr>
      <tr> <td>14:30</td> <td><a href="http://swcarpentry.github.io/git-novice/14-supplemental-rstudio/index.html">Using git with RStudio</a></td></tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Producing reports with knitr</a></td></tr>
      <tr> <td>17:00</td>  <td><a href="https://www.surveymonkey.com/r/swc_post_workshop_v1?workshop_id=2016-12-05-oxford/"> Post-workshop questionnaire and wrap-up of day </a></td> </tr>
    </table>
  </div> 
</div>
